@media (max-width: 576px) {

    .flex-container {
        height: 700px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    header {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
        flex-wrap: wrap;
    }

    main {
        height: 40%;
        width: 100%;
        display: flex;
        padding-top: 30px;
    }

    aside {
        height: 50%;
        width: 100%;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    footer {
        height: 20%;
        width: 96%;
        margin-top: 20px;
        margin-left: 2%;
        margin-right: 2%;
        background-color: black;
    }

    header>div:nth-child(1) {

        background-color: chartreuse;
        height: 40%;
        width: 30%;
        margin-left: 2%;
    }

    header>div:nth-child(2) {

        background-color: grey;
        width: 30%;
        height: 25%;
        margin-right: 2%;
        align-self: flex-end;
    }

    header>div:nth-child(3) {

        background-color: dodgerblue;
        width: 96%;
        height: 40%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2%;
    }

    main>div {
        background-color: fuchsia;
        height: 100%;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    aside>div:nth-child(1) {

        background-color: orange;
        width: 44%;
        height: 100%;
        margin-left: 2%;

    }

    aside>div:nth-child(2) {

        background-color: orange;
        width: 44%;
        height: 100%;
        margin-right: 2%;

    }
}

@media (min-width: 576px) and (max-width: 991px) {

    .flex-container {
        height: 700px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    header {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
        flex-wrap: wrap;
    }

    main {
        height: 40%;
        width: 100%;
        display: flex;
        padding-top: 30px;
    }

    aside {
        height: 40%;
        width: 100%;
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
    }

    footer {
        height: 10%;
        width: 100%;
        margin-top: 10px;
        background-color: #1c2c4c;
        display: flex;
    }

    header>div:nth-child(1) {

        background-color: chartreuse;
        height: 40%;
        width: 30%;
        margin-left: 2%;
        display: flex;
    }

    header>div:nth-child(2) {

        background-color: grey;
        width: 30%;
        height: 25%;
        margin-right: 2%;
        align-self: flex-end;
    }

    header>div:nth-child(3) {

        background-color: dodgerblue;
        width: 100%;
        height: 40%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2%;
    }

    main>div {
        background-color: fuchsia;
        height: 100%;
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
    }

    aside>div:nth-child(1) {

        background-color: #e7e7e7;
        width: 100%;
        height: 45%;
        margin-left: 2%;
        margin-right: 2%;
        order: 2;

    }

    aside>div:nth-child(2) {
        width: 100%;
        height: 45%;
        margin-left: 2%;
        margin-right: 2%;
        order: 1;
    }

    aside>div:nth-child(2)>.card {
        height: 80%;
        width: 96%;
        margin: auto;
        margin-top: 1.5%;
    }

    aside>div:nth-child(2)>.card>.row {
        height: 100%;

    }

    aside>div:nth-child(2)>.card>.row>.img-col {
        height: 100%;

    }

    aside>div:nth-child(2)>.card>.row>.img-col>.card-img-top {
        height: 100%;
        object-fit: cover;
    }

    aside>div:nth-child(2)>.card>.row>.text-col>.card-body>.card-title {
        font-size: 17px;
    }

    aside>div:nth-child(2)>.card>.row>.text-col>.card-body>.card-text {
        font-size: 15px;
    }

    footer>.footer-logo {
        margin: 0.5%;
    }

    footer>p {
        margin: auto;
        font-weight: bold;
        color: white;
    }


}

@media (min-width: 991px) {

    .flex-container {
        height: 700px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 15%;
        width: 100%;
    }

    main {
        width: 67%;
        height: 100%;
        margin-top: 8%;
        margin-left: 2%;
        display: flex;
    }

    aside {
        height: 100%;
        width: 27%;
        margin-top: 8%;
        margin-right: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer {
        height: 10%;
        width: 100%;
        margin-top: 10px;
        background-color: #1c2c4c;
        display: flex;
    }

    header>div:nth-child(1) {
        margin-top: 2%;
        margin-left: 2%;
        height: 90%;
        width: 35%;
        display: flex;
    }

    header>div:nth-child(1)>a {
        width: 100%;
        height: 100%;
    }

    header>div:nth-child(1)>a>img {
        margin-top: 3%;
        margin-left: 2%;
    }
    header>div:nth-child(2) {
        margin-top: 2%;
        margin-right: 2%;
        height: 55%;
        width: 35%;
        align-self: flex-end;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: baseline;
    }

    header>div:nth-child(2)>form {
        width: 50%;
    }
    header>div:nth-child(2)>form>.search-input {
        width: 100%;
        height: 35%;
        border: solid 2px #1c2c4c;
        font-size: 12px;
        border-radius: 5px;
    }
    header>div:nth-child(2)>div {
        text-decoration: none;
        color:#1c2c4c;
        width: 30%;
        display: flex;
        justify-content: center;
    }

    header>div:nth-child(2)>div>.lang-text {
        text-decoration: none;
        color: #659df2;
    }

    header>div:nth-child(2)>div>.lang-text:active {
        text-decoration: none;
        color:#4754b1;
    }

    header>div:nth-child(2)>div>.lang-text:hover {
        text-decoration: none;
        color:#4754b1;
    }


    header>div:nth-child(3) {
        background-color: dodgerblue;
        margin-top: 1%;
        margin-left: 2%;
        margin-right: 2%;
        height: 50%;
        width: 100%;
    }

    main>div {
        background-color: fuchsia;
        height: 100%;
        width: 100%;
    }

    aside>div:nth-child(1) {
        background-color: #e7e7e7;
        height: 20%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    aside>div:nth-child(1)>div:nth-child(1) {
        grid-row: span 2 / span 2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: space-evenly;
    }
    
    aside>div:nth-child(1)>div:nth-child(2) {
        grid-row: span 2 / span 2;
        display: flex;
        flex-direction: column;
    }
    
    aside>div:nth-child(2) {
        height: 75%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    aside>div:nth-child(1)>div:nth-child(1)>.socialmedia-text {
        width: 80%;
        margin-top: 3%;
        margin-bottom: 0%;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
    }

    aside>div:nth-child(1)>div:nth-child(1)>.socialmedia-icon {
        height: 25%;
        width: 25%;  
    }

    aside>div:nth-child(1)>div:nth-child(1)>#left-icon {
        margin-left: 10%;
        margin-right: 5%;
    }

    aside>div:nth-child(1)>div:nth-child(1)>#right-icon {
        margin-right: 10%;
        margin-left: 5%;
    }

    aside>div:nth-child(1)>div:nth-child(2)>.label-newsletter {
        margin-right: 5%;
        margin-top: 3%;
        align-self: flex-end;
        font-weight: bold;
        font-size: 12px;
    }

    aside>div:nth-child(1)>div:nth-child(2)>.form-newsletter {
        margin-top: 9%;
        margin-right: 5%;
        width: 82%;
        align-self: flex-end;
        border: solid #4754b1 2px;
        font-size: 12px;
    }

    aside>div:nth-child(1)>div:nth-child(2)>.sub-button {
        margin-top: 12%;
        margin-right: 5%;
        width: 60%;
        align-self: flex-end;
        background-color: #659df2;
        border: 0;
        border-radius: 40px;
        color: white;
        font-weight: bold;
        font-size: 13px;
    }
    aside>div:nth-child(2)>.card {
        margin: 2%;
        height: 46%;
    }

    aside>div:nth-child(2)>.card>.card-img-top {
        height: 50%;
        object-fit: cover;
    }

    aside>div:nth-child(2)>.card>.card-body {
        padding: 2%
    }

    aside>div:nth-child(2)>.card>.card-body>.card-text {
        text-align: justify;
    }

    footer>.footer-logo {
        margin: 0.5%;
    }

    footer>p {
        margin: auto;
        font-weight: bold;
        color: white;
    }
}