
    body {
      font-family: arial;
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding: 20px;
    }

    header {
        width: 100%;
        height: 20%;
        margin-bottom: 20px;
    }

    .head1 {
        height: 50%;
    }

    .head1 img {
        margin-left: 5px;
        height: 60px;
    }

    .navbar {
        height: 50%;
        background-color: #a2a2a2;
        overflow: hidden;
    }

    .navbar a {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px;
        font-size: 24px;
        margin-right: 100px;
    }

    .navbar a:hover {
        color: black;
    }

    footer {
        margin-top: 60px;
        width: 100%;
        height: 12%;
        background-color: #1c2c4c;
        display: flex;
        flex-wrap: wrap;
    }

    .foot img {
        margin-left: 100px;
        width: 80px;
    }

    .foot p {
        margin-left: 300px;
        width: 800px;
        color: antiquewhite;
        font-size: 24px;
        justify-self: center;
        align-self: center;
    }

    #imgF {
        border-top: 5px;
        border-left: 5px;
    }

    #ProductsTable {
      width: 100%;
      height: 25%; 
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    #ProductsTable th, #ProductsTable td {
      padding: 15px;
      text-align: center;
      border: 1px solid #e5e5e5;
      color: #444;
    }

    #ProductsTable th {
      background-color: #1c2c4c;
      color: white;
    }

    .scrollit {
        overflow: scroll;
        height: 300px;
    }

    #ficheroCarga {
      align-self: flex-end;
      background-color: #f8f8f8;
      padding: 8px;
    }

    #ficheroCarga input {
      display: none;
    }

    #ficheroCarga label {
      background-color: #659DF2;
      border-radius: 25px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      color: white;
      cursor: pointer;
      font-size: 14px;
      font-weight: 200;
      height: 35px;
      line-height: 35px;
      padding: 0 20px;
    }

    #reserva {
        width: 50%;
        height: 320px;
        border-radius: 10px;
        background-color: #1c2c4c;
        margin: auto;
        align-items: center;
        justify-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    #labelExc {
        font-size: 30px;
        color: white;
    }

    #Id_exc {
        margin-top: 10px;
        width: 80%;
        height: 30px;
        border-radius: 30px;
        margin: auto;
    }

    #labelDNI {
        font-size: 30px;
        color: white;
    }

    #DNI {
        width: 80%;
        height: 30px;
        border-radius: 30px;
        margin: auto;
    }

    #boton-descargar {
        width: 30%;
        height: 30px;
        font-size: 20px;
        color: white;
        background-color: #659DF2;
        border-radius: 30px;
        margin-bottom: 20px;
    }

    #padreFC {
        width: 100%; 
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    #ficheroCarga label {
        background-color: #659DF2;
        border-radius: 30px;
        color: white;
        cursor: pointer;
        font-size: 20px;
        height: 30px;
        line-height: 30px;
        padding: 0 30px;
        text-align: center;
        display: inline-block;
    }

    @media screen and (max-width: 576px) {
        body {
            
        }
      }
